/* CSS Document */

$negro       : #222222;
$blanco      : #f3f0f0;
$blanco_puro : #ffffff;
$azul        : #2795ff;
$verde       : #27ff6f;
$naranja     : #ff7327;
$rojo        : #ff2727;
$gris_claro  : #f0f0f0;
$gris        : #cccccc;
$gris_oscuro : #555555;

$negro_trans100 : rgba(34,34,34,1);
$negro_trans0   : rgba(34,34,34,0);